* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
}

small {
    font-size: 12px !important;
    color: #9E9E9E;
}
.top_box {
    width: 100%;
    height: 30px;
    background-color: rgba(76, 175, 80, 0.45);
    line-height: 30px;
}

.top_box a {
    font-size: 14px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}
.top_box .dropdown {
    height: 100%;
    border: 1px solid red;
}
.content_box {
    background-color: #fff;
    width: 100%;
    height: 90%;
}

.content_box_left {
    position: absolute;
    float: left;
    height: 100%;
    width: 15%;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
}

.content_box_right {
    width: 85%;
    float: right;
}

.menu {
    width: 85%;
    margin: 50px auto;
    border: 1px solid #ccc;
}

.menu div {
    margin-bottom: 10px;
}

.menu p {
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    background: #eee;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding-left: 5px;
}

.menu div ul {
    display: none;
}

.menu li {
    height: 24px;
    line-height: 24px;
    padding-left: 25px;
    background-color: #fff;
}

.menu li a {
    font-size: 12px !important;
}

.location {
    height: 40px;
    width: 100%;
    background-color: #e0e0e0;
    border-bottom: 2px solid #ccc;
    z-index: -1;
}

.location span {
    line-height: 40px;
    margin-left: 10px;
}

.content_box_main {
    width: 100%;
    height: 580px;
    padding: 20px;
}

.content_welcome p {
    padding-left: 200px;
    font-size: 32px !important;
    color: #4CAF50;
    margin: 100px 0 0 200px;
}


/*table框*/

.input_box {
    width: 60%;
    background-color: #f4f4f4;
}

.input_box table {
    width: 70%;
    height: 450px;
}

.input_box td {
    height: 30px;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    text-align: center;
}

.msg_box input {
    width: 70%;
    height: 24px;
    text-align: left;
}

.msg_box {
    background-color: #fff;
}

.input_msg {
    width: 120px;
    font-size: 1em;
    background-color: #F6F6F6;
}

.submit_btn {
    height: 26px;
    width: 100px;
}

.showchild {
    cursor: pointer;
}
/*role*/
.addadmin_box,
.update_box,
.addnew_content,
.input_box_role,
.exchange_box,
.addtop_box {
    width: 97%;
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.input_box_role thead {
    background-color: #fafafa;
}

.addadmin_box tr,
.update_box tr,
.addnew_content tr,
.input_box_role tr,
.exchange_box tr,
.addtop_box tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.addadmin_box th,
.update_box th,
.addnew_content th,
.input_box_role th,
.exchange_box th,
.addtop_box th {
    text-align: center;
    height: 26px;
    line-height: 26px;
    padding: 2px 5px;
    border: #fff 1px solid;
    background: #e6e6e6;
}

.addadmin_box td,
.update_box td,
.addnew_content td,
.input_box_role td,
.exchange_box td,
.addtop_box td {
    border: #eee solid 1px;
    padding: 2px 5px;
    font-size: 13px;
}

.addadmin_box table,
.update_box table,
.addnew_content table,
.exchange_box table,
.addtop_box table {
    width: 100%;
}

.exchange_box .exchange_box_td1,
.addtop_box .addtop_box1,
.update_box .addtop_box1 {
    width: 100px;
    text-align: right;
    background-color: #f6f6f6;
}

.exchange_box .exchange_box_td2,
.addtop_box .addtop_box2,
.update_box .addtop_box2 {
    text-align: left;
}

.exchange_box .exchange_box_td2 input,
.addtop_box .addtop_box2 input,
.update_box .addtop_box2 input {
    width: 35%;
}


/*添加栏目*/

.addtop {
    float: right;
    margin-right: 22px;
}

.add, .addnew, .exchange, .addadmin{
    cursor: pointer;
    color: blue;
}

/*页面1,2,3*/

.input_box_123 {
    width: 75%;
    margin: 20px 0 0 0px;
    background-color: #F4F4F4;
}

.input_box_123 td {
    width: 100%;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
}